.btn_base {
  @extend %btn_base;

  &.btn_base--active {
    background: $bth_hover_bg;
  }
}

.icon--size-mod {
  display: block;
  width: 100%;
  height: 100%;
  color: $white;
}

.icon__w {
  width: 3rem;
  height: 3rem;
}

.add_item {
  margin-top: 4rem;
  text-align: center;
}