//-----------Fonts--------------
$font_path: "./fonts/";
$roboto: 'Roboto', sans-serif;
$font_size_base: 1.6rem;
//-----------Fonts###------------

//-----------Color---------------
$white: #fff;
$black: #000;

$btn_bg: #e1e1e1;
$bth_hover_bg: #008000;
//-----------Color###------------

//-----------Global values-------
$gl_indent: 5rem;
$gl_radius:.5rem;
//-----------Global values###----

//-----------Media points--------
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//-----------Media points###------